<!-- Container Siteguide-->
<div class="container mt-4">
{{#producto}}
    <div class="row path"><span><a href="/productos/">Productos</a> / {{nombre_p}}</span></div>
</div>
<!-- Container Producto -->
<div class="detalle container mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="producto" style="background-image:url({{imagen_p}})"></div></div>
    <div class="col-md-5 justify-content-center">
      <h2>{{nombre_p}}</h2>
      <p class="mt-3">{{descripcion_p}}</p>
      <h4 id="precio">${{precio_p}} <i>Stock: {{stock_p}}</i></h4>
      <div class="row mt-5 justify-content-center">
        <div class="btn-text mr-3">Elegí el color:</div>
        <button type="button" class="btn btn-rosa btn-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
</button>
        <button type="button" class="btn btn-amarillo btn-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
</button>
        <button type="button" class="btn btn-lila btn-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
</button>
      </div>
      <div class="row mt-5  justify-content-center">
        <button class="buy btn-negro btn" type="submit">Agregar al carrito</button>
      </div>
    </div>
  </div>
  {{/producto}}
</div>

<!-- Benefits -->
<div class="container mb-4">
  <div class="row no-gutters">
    <div class="col-lg-3 benefit_col">
      <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
        <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/25/25430.svg"></div>
        <div class="benefit_content col-9">
          <h6>Envíos a todo el país</h6>
          <p>Entregas en Lomas de Zamora, Nuñez y Obelisco</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 benefit_col">
      <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
        <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/126/126179.svg"></div>
        <div class="benefit_content col-9">
          <h6>Todos los medios de pago</h6>
          <p>Efectivo, crédito, débito, link y QR de MercadoPago</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 benefit_col">
      <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
        <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/149/149763.svg"></div>
        <div class="benefit_content col-9">
          <h6>Pedidos especiales</h6>
          <p>Cerrados por el momento</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 benefit_col">
      <div class="benefit_item d-flex flex-row justify-content-around align-items-center">
        <div class="benefit_icon col-2"><img class="icon benefit_i" src="https://image.flaticon.com/icons/svg/59/59252.svg"></div>
        <div class="benefit_content col-9">
          <h6>Abierto de lunes a viernes</h6>
          <p>8AM - 09PM</p>
        </div>
      </div>
    </div>

  </div>
</div>