<div id="panel" class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div id="sidebar" class="gradb col-lg-2 col-md-3">
      <nav id="panelnav">
        <div class="row mt-2 justify-content-center">
          <div class="col-12 col-sm-6  col-md-12">
          <div class="fotoperfil" style="background-image:url({{fotoperfil}})"></div>
          </div>
          <div class="col-12 col-sm-6 col-md-12">
          <div id="saludo">{{message}} <svg onclick="document.getElementById('myModal3').style.display='block'" id="editsvg" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512" height="512" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;" xml:space="preserve" class=""><g><g>
	<path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#FFFFFF"></path></g></g></svg onclick="document.getElementById('myModal2').style.display='block'">
          </div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/panel">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Bandeja <span class="sr-only">(current)</span>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/productos">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              Pedidos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/clientes">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Reportes
            </a>
          </li>
          </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="paneltablecontainer" class="col-lg-10 col-md-9 text-center">
        <div id="tablecenter">
            <div class="row no-gutters justify-content-between">
              {{#if stockwarning}}<div class="bd-callout bd-callout-info-low bg-light">
<h4 id="dealing-with-specificity">Productos con bajo stock</h4>
<p style="width: 80%; margin: auto auto;">Puede actualizar el ingreso de nueva mercadería directamente en la tabla debajo o en la sección <b>Productos</b> accesible desde la barra lateral.</p>
</div>
              {{else}}<div class="bd-callout bd-callout-info-ok bg-light">
<h4 id="dealing-with-specificity">No hay faltantes de stock</h4>
<p style="width: 80%; margin: auto auto;">Todos los productos cuentan con un stock superior a las 10 u.</p>
</div>
              {{/if}}

        {{#if stockwarning}}
        <table role="table" class="table table-bordered text-center">
        <thead role="rowgroup" class="bg-light">
          <tr role="row">
{{!-- If you change the table remember to update the data labels in the CSS file --}}
            <th role="columnheader" class="text-center" style="display: none;">Id</th>
            <th role="columnheader" class="text-center">Producto</th>
            <th role="columnheader" class="text-center">Descripción</th>
            <th role="columnheader" class="text-center">Categoría</th>
            <th role="columnheader" class="text-center">Precio</th>
            <th role="columnheader" class="text-center">Stock</th>
            <th role="columnheader" class="text-center">Imagen</th>
            <th role="columnheader" class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {{#each stockwarning}}
          <tr role="row">
            <td role="cell" style="display: none;">{{id_p}}</td>
            <td role="cell" contenteditable="true">{{nombre_p}}</td>
            <td role="cell" contenteditable="true">{{descripcion_p}}</td>
            <td role="cell">{{nombre_c}}</td>
            <td role="cell" contenteditable="true">{{precio_p}}</td>
            <td role="cell" contenteditable="true" class="text-danger font-weight-bold">{{stock_p}}</td>
            <td role="cell"><img src="{{imagen_p}}" style="width: 5rem;"></td>
            <td role="cell"> <!-- BOTÓN --><button type="button" class="btnSave btnfondo btn btn-secondary btn-sm my-0 m-1">Guardar</button>
              <span class="table-remove"><button type="button" class="btnDelete btnborde btn btn-outline-danger btn-sm my-0"><a href="">Eliminar</a></button></span>
            </td>
          </tr>
          {{/each}}
        </tbody>
        </table>
        {{/if}}

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <script>
          $('.table tbody').on('click', '.btnSave', function(){
            var currow = $(this).closest('tr');
            var id = currow.find('td:eq(0)').text();
            var nombre = currow.find('td:eq(1)').text();
            var descripcion = currow.find('td:eq(2)').text();
            var categoria = currow.find('td:eq(3)').text();
            var precio = currow.find('td:eq(4)').text();
            var stock = currow.find('td:eq(5)').text();
            var producto = {
              id, nombre, descripcion, categoria, precio, stock
            }
 
            $.ajax({
              type: "POST", url: "http://localhost:3000/panel/modificar/",
              cache: "false",contentType: "application/json",
              headers: {
                "Content-Type" : "application/json"
              },
              data:  JSON.stringify(producto),
              statusCode: {
                200: function() {
                window.location.reload();
                }
              },
            })

          })
          
        </script>

        <script>
          $('.table tbody').on('click', '.btnDelete', function(){
             var currow = $(this).closest('tr');
            var id = currow.find('td:eq(0)').text();

          $.ajax({
              type: "DELETE", url: "http://localhost:3000/panel/eliminar/"+id,
              cache: "false",contentType: "application/json",
              headers: {
                "Content-Type" : "application/json"
              }
            })
            })
        </script>
        {{> profilemodal}}