<div id="panel" class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div id="sidebar" class="gradb col-lg-2 col-md-3">
      <nav id="panelnav">
      <div id="saludo">{{message}}</div>
<ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/panel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Bandeja
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/panel/productos">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Productos <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              Pedidos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/clientes">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
              Reportes
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="paneltablecontainer" class="col-lg-10 col-md-9 text-center">
      <div id="tablecenter">
        <div class="row no-gutters justify-content-between">
          <button type="button" onclick="document.getElementById('myModal').style.display='block'" class="btn btn-celeste">+ Agregar producto</button>
              <form  class="form-inline my-2 my-lg-0" method="GET" action="">
                <input class="form-control mr-sm-2" type="text" placeholder="Filtrar" name="text">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Filtrar</button>
              </form>
        </div>
        <table role="table" class="table table-bordered text-center mt-2">
        <thead role="rowgroup" class="bg-light">
          <tr role="row">
{{!-- If you change the table remember to update the data labels in the CSS file --}}
            <th role="columnheader" class="text-center" style="display: none;">Id</th>
            <th role="columnheader" class="text-center">Producto</th>
            <th role="columnheader" class="text-center">Descripción</th>
            <th role="columnheader" class="text-center">Categoría</th>
            <th role="columnheader" class="text-center">Precio</th>
            <th role="columnheader" class="text-center">Stock</th>
            <th role="columnheader" class="text-center">Imagen</th>
            <th role="columnheader" class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {{#each productos}}
          <tr role="row">
            <td role="cell" style="display: none;">{{id_p}}</td>
            <td role="cell" contenteditable="true">{{nombre_p}}</td>
            <td role="cell" contenteditable="true">{{descripcion_p}}</td>
            <td role="cell">{{nombre_c}}</td>
            <td role="cell" contenteditable="true">{{precio_p}}</td>
            <td role="cell" contenteditable="true">{{stock_p}}</td>
            <td role="cell"><img src="{{imagen_p}}" style="width: 5rem;"></td>
            <td role="cell"> <!-- BOTÓN --><button type="button" class="btnSave btnfondo btn btn-secondary btn-sm my-0 m-1">Guardar</button>
              <span class="table-remove"><button type="button" class="btnDelete btnborde btn btn-outline-danger btn-sm my-0"><a href="">Eliminar</a></button></span>
            </td>
          </tr>
          {{/each}}
        </tbody>
        </table>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
<form role="form" action="productos/subir" method="POST">
  <div class="form-group">
    <label for="Producto">Producto: </label>
    <input class="form-control" name="producto" type="text" id="Producto">
  </div>
  <div class="form-group">
    <label for="Descripcion">Descripción: </label>
    <input class="form-control" name="descripcion" type="text" id="Descripcion">
  </div>
  <div class="form-group">
    <label for="Categoria">Categoría: </label>
    <select class="form-control" name="categoria" type="text" id="Categoria">
      {{#each categorias}}
      <option>{{nombre_c}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="Precio">Precio: </label>
    <input class="form-control" name="precio" type="text" id="Precio">
  </div>
  <div class="form-group">
    <label for="Stock">Stock: </label>
    <input class="form-control" name="stock" type="text" id="Stock">
  </div>
  <div class="form-group">
    <label for="Imagen">Imagen(URL): </label>
    <input class="form-control" name="imagen" type="text" id="Imagen">
  </div> 
<button type="submit" class="btnSave btn btn-secondary btn-rounded btn-sm my-0 m-1">Guardar</button>    
    </form>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


        <script>
          $('.table tbody').on('click', '.btnSave', function(){
            var currow = $(this).closest('tr');
            var id = currow.find('td:eq(0)').text();
            var nombre = currow.find('td:eq(1)').text();
            var descripcion = currow.find('td:eq(2)').text();
            var categoria = currow.find('td:eq(3)').text();
            var precio = currow.find('td:eq(4)').text();
            var stock = currow.find('td:eq(5)').text();
            var producto = {
              id, nombre, descripcion, categoria, precio, stock
            }
 
            $.ajax({
              type: "POST", url: "http://localhost:3000/panel/modificar/",
              cache: "false",contentType: "application/json",
              headers: {
                "Content-Type" : "application/json"
              },
              data:  JSON.stringify(producto),
              statusCode: {
                200: function() {
                window.location.reload();
                }
              },
            })
          })
          
          
        </script>

        <script>
          $('.table tbody').on('click', '.btnDelete', function(){
             var currow = $(this).closest('tr');
            var id = currow.find('td:eq(0)').text();

          $.ajax({
              type: "DELETE", url: "http://localhost:3000/panel/eliminar/"+id,
              cache: "false",contentType: "application/json",
              headers: {
                "Content-Type" : "application/json"
              }
            })
            })
        </script>
      </div>
    </div>
  </div>
</div>