<div id="panel" class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div id="sidebar" class="gradb col-lg-2 col-md-3">
      <nav id="panelnav">
        <div class="row mt-2 justify-content-center">
          <div class="col-12 col-sm-6  col-md-12">
          <div class="fotoperfil" style="background-image:url({{fotoperfil}})"></div>
          </div>
          <div class="col-12 col-sm-6 col-md-12">
          <div id="saludo">{{message}} <svg onclick="document.getElementById('myModalU').style.display='block'" id="editsvg" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512" height="512" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;" xml:space="preserve" class=""><g><g>
	<path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#FFFFFF"></path></g></g></svg onclick="document.getElementById('myModalU').style.display='block'">
          </div>
<ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/panel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Mi Carrito
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Mis Datos <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="paneltablecontainer" class="col-lg-10 col-md-9 text-center">
        <div id="tablecenter">
            <div id="editwrap" class="row no-gutters justify-content-center">
        <form class="accountform text-left" role="form" action="misdatos/editar" method="POST">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" value="{{misDatos.nombre}}"  class="form-control" name="nombre" type="text" required>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input id="apellido" value="{{misDatos.apellido}}" class="form-control" name="apellido" type="text" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" value="{{misDatos.email}}" class="form-control" name="email" type="email" readonly>
            </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" value="{{misDatos.password}}" class="form-control" name="password" type="password" required>
          </div>
          <button type="submit" class="btnSave btnfondo btn btn-secondary btn-sm my-0 m-1">Guardar</button>
        </form>
            </div>
        </div>
    </div>
  </div>
</div>

        {{> profilemodalU}}
