<div id="panel" class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div id="sidebar" class="gradb col-lg-2 col-md-3">
      <nav id="panelnav">
        <div class="row mt-2 justify-content-center">
          <div class="col-12 col-sm-6  col-md-12">
          <div class="fotoperfil" style="background-image:url({{fotoperfil}})"></div>
          </div>
          <div class="col-12 col-sm-6 col-md-12">
          <div id="saludo">{{message}} <svg onclick="document.getElementById('myModal3').style.display='block'" id="editsvg" width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512" height="512" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;" xml:space="preserve" class=""><g><g>
	<path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z" data-original="#000000" class="active-path" data-old_color="#000000" style="fill:#FFFFFF"></path></g></g></svg onclick="document.getElementById('myModal3').style.display='block'">
          </div>
<ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/panel">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Mi Carrito <span class="sr-only">(current)</span>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/productos">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Mis Datos
            </a>
          </li>
        </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="paneltablecontainer" class="col-lg-10 col-md-9 text-center">
        <div id="tablecenter">
          {{#if realizada}}
          <div class="bd-callout bd-callout-info-ok bg-light">
<h4 id="dealing-with-specificity">{{realizada}}</h4>
<p style="width: 80%; margin: auto auto;"></p>
</div>
{{/if}}
            <div class="row no-gutters justify-content-between">
                {{#if carrito}}
              <table id="tablacarrito" role="table" class="table text-center">
        <thead role="rowgroup" class="bg-light">
          <tr role="row">
{{!-- If you change the table remember to update the data labels in the CSS file --}}
            <th role="columnheader" class="text-center">Producto</th>
            <th role="columnheader" class="text-center">Precio</th>
            <th role="columnheader" class="text-center">Cantidad</th>
            <th role="columnheader" class="text-center">Subtotal</th>
            <th role="columnheader" class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {{#each carrito}}
          
          <tr role="row">
            <td class="tdu" role="cell" >{{nombre}}</td>
            <td class="tdu" role="cell">{{precio}}</td>
            <td class="tdu d-flex justify-content-center" role="cell"><input min="1" max="" value="{{cantidad}}" class="form-control" name="carritocant" type="number" id="carritoCant{{id}}" style="width: auto;"></td>
            <td class="tdu" role="cell"><span id="{{id}}"></span></td>
            <td class="tdu" role="cell"> <!-- BOTÓN -->
            <button type="button" onclick="getU();" class="btnfondo btn btn-secondary btn-sm my-0 m-1">Guardar</button>
            <span class="table-remove"><button type="button" class="btnDelete btnborde btn btn-outline-danger btn-sm my-0"><a href="">Eliminar</a></button></span>
            </td>
          </tr>
          {{/each}}
        </tbody>
        </table>
          </div>
          
          <div class="row justify-content-end mr-1">
          <div class="mr-4 mt-3"><span>Total: $</span><span><b id="total"></span></b></div>
        <form action="/compras/addOrder/" method="post">
    <input type="submit" class="btn-fucsia btn" type="submit" id="btnBuy" name="btnBuy" value="Realizar pedido" />
</form>
{{else}}
<div class="bd-callout bd-callout-info-empty bg-light">
<h4>No hay productos en el carrito</h4>
<p style="width: 80%; margin: auto auto;"></p>
</div>
{{/if}}

                

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

          <script>
            var suma = 0;
            var iddd = 0;
              "{{#each carrito}}"
            var foo = "{{precio}}"
            console.log(foo)
            var zoo = "{{cantidad}}"
            console.log(zoo)
            var subtotal = (foo*zoo)
            console.log(subtotal)
            suma += (foo*zoo);
            console.log(subtotal)
            document.getElementById("{{id}}").innerHTML = subtotal
            "{{/each}}"
            console.log(suma)
            document.getElementById("total").innerHTML = suma
        </script>


<script>
  var cantidad;
function getU() {
  "{{#each carrito}}"
  var productoModificado = "{{id}}";
  var cantidad = document.getElementById('carritoCant{{id}}').value;
  console.log(cantidad);"{{/each}}"
   window.location.href= `/carrito/update/${productoModificado}/${cantidad}`;
  
};
 //string template embebe var en string
</script>
        {{> profilemodalU}}
